name: Run tests

on:
  push:
    branches:
      - "!master"
  pull_request:

jobs:
  pytest:
    runs-on: ubuntu-latest
    timeout-minutes: 2

    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: 3.10

      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests with pytest
        run: |
          while read -r dir; do
            pytest --color=yes "$dir"
          done <<< "$(git diff --name-only HEAD~1 -- '*.py' | xargs dirname | uniq)"
